{{!-- <div class="navbar fixed-bottom">
    <div class="text-center text-lg-start bg-light text-muted">
        <div class="text-center p-4">
            <p>
                <strong>Igra Risanja in Ugibanja</strong> - Luka Ernestini.
            </p>
        </div>
    </div>
</div> --}}
<script type="text/javascript" src="/scripts/scripts.js"></script>