.inactive {
  display: none;
}

#canvas {
  border: 1px solid #000000;
}

#btn-group-canvas {
  display: block;
}

#word {
  color: green;
}

#username-link {
  text-decoration: none;
}

.blink_me {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
